Flask
pytest
python-dotenv
{% if cookiecutter.use_db == "y" %}
Flask-SQLAlchemy
Flask-Migrate
{% endif %}
{% if cookiecutter.use_auth == "y" %}
Flask-JWT-Extended
{% endif %}
{% if cookiecutter.use_api_docs == "y" %}
flask-marshmallow
apispec
marshmallow-sqlalchemy
{% endif %}
