Flask
Werkzeug
Python-Dotenv
flake8 
black
Flask-Restful
Marshmallow
Flask-SQLAlchemy
Flask-Migrate
{%- if cookiecutter.usar_docs_api == "s" %}
Flasgger
{%- endif %}
{%- if cookiecutter.banco_de_dados == "mysql" %}
mysqlclient
{%- elif cookiecutter.banco_de_dados == "postgresql" %}
psycopg2-binary
{%- endif %}