# Django
DJANGO_ENV=development
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=

# Database (production)
{%- if cookiecutter.database == "sqlite3" %}
DB_NAME=production.db
{%- else %}
DB_NAME={{ cookiecutter.project_slug }}
DB_USER={{ cookiecutter.project_slug }}
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT={{ "5432" if cookiecutter.database == "postgresql" else "3306" }}
{%- endif %}

# Superuser (created by scripts/start.sh)
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

# Email
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=webmaster@localhost
