Django>=5.2.16,<6.0
python-decouple>=3.8
uvicorn[standard]>=0.30.0
whitenoise>=6.9.0
django-db-logger>=0.1.12
{%- if cookiecutter.database == "postgresql" %}
psycopg[binary]>=3.2
{%- elif cookiecutter.database == "mysql" %}
mysqlclient>=2.2
{%- endif %}
